{% extends "ClassMonitor/layout.html" %}
{% load static %}

{% block body %}
    <div>
        {% include "ClassMonitor/navbar.html" %}
        <h1>Exam started</h1>
        <h2>Class Code: {{ class_code }}</h2>
        <h2>Students</h2>
        {% if students_length %}
            <ul>
                {% for student in students %}
                    <li>{{ student.username }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No students</p>
        {% endif %}

        <h2>
            Allowed calculators
        </h2>
        <form action="/exam" method="post">
            {% csrf_token %}
            <input type="hidden" name="type" value="update_calculators">
            {% for calculator in calculators %}
                <label>
                    <input type="checkbox" name="{{ calculator.name }}" value="{{ calculator.name }}" {% if calculator.isAllowed %}checked{% endif %}>
                    {{ calculator.name }}
                    <br>
                </label>
            {% endfor %}
            <input type="submit" value="Update">
        </form>

        <form action="/exam" method="post">
            {% csrf_token %}
            <input type="hidden" name="type" value="end_exam">
            <input type="submit" value="End Exam">
        </form>
    </div>
{% endblock %}