{% extends "ClassMonitor/layout.html" %}
{% load static %}

{% block body %}
    <script src="{% static 'ClassMonitor/javascript/index.js' %}"></script>
    <div>
        <h1>Index</h1>
        <h2>Welcome, {{ user }}!</h2>
        <p>
            Your class code is: <b>{{ class_code }}</b>
        </p>
        <form method="post">
            {% csrf_token %}
            <button id="start_exam">{% if exam_started %} View exam {% else %} Start Exam {% endif %}</button>
        </form>

        <a href="/logout">Logout</a>
    </div>


{% endblock %}