{% extends "ClassMonitor/layout.html" %}
{% block body %}
    <div style="text-align: center">
        <h1>
            Login
        </h1>
        <form method="post">
            {% csrf_token %}
            <div>
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div>
                <input type="submit" value="Login">
            </div>
        </form>
    </div>

{% endblock %}