{% extends "ClassMonitor/layout.html" %}
{% load static %}

{% block body %}
    <script src="{% static '/ClassMonitor/javascript/register.js' %}"></script>
    <div style="text-align: center">
        <div>
            <h1>
                Register
            </h1>
        </div>
        <form method="POST" id="register">
            {% csrf_token %}
            <div class="form-group d-flex flex-column justify-content-center align-items-center">
                <div class="form-group mt-2">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="form-control mt-1" required>
                </div>
                <div class="form-group mt-2">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" value="" class="form-control mt-1" required>
                </div>
                <div class="form-group mt-2">
                    <input type="submit" value="Register" class="btn btn-primary mt-1">
                </div>
            </div>
        </form>
        <p class="mt-2">
            Already have an account? <a href="/login">Login</a>
        </p>
    </div>
{% endblock %}